{% extends 'main.html' %}
{% load crispy_forms_tags %}

{% block title %}
    Create
{% endblock title %}

{% block main_section %}
    <div class="form-section">
        <h2>Удаление статью "{{ object.title }}"</h2>
        <form action="" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-outline-danger">Да, удалить</button>
            <a href="{% url 'blog:detail' object.pk %}" class="btn btn-outline-info">Нет, отмена</a>
        </form>
    </div>
{% endblock main_section %}